web_service.xml

<application xmlns="http://wadl.dev.java.net/2009/02 xmlns:xs=http://www.w3.org/2001/XMLSchema">
    <grammars/>
    <resources base="http://ididevappvm01.dev.pfg.azcloud.com:8080/pfg-app/services/customercore-rs/v1">
        <resource path="/customers/">
            <doc>Customer management service</doc>
            <method name="GET">
                <doc>Gets list of customers. Supports multiple search parameters</doc>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <method name="POST">
                <doc>Creates new customer</doc>
                <request>
                    <representation mediaType="application/json">
                        <doc>Creates new customer</doc>
                    </representation>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="anonymous">
                <method name="GET">
                    <doc>Gets anonymous customer numbers</doc>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="details">
                <method name="GET">
                    <doc>Gets customers short details. Supports multiple search parameters</doc>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="with-active-campaigns">
                <method name="GET">
                    <doc>Gets list of Customers with active Campaigns</doc>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets customer by customer number</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="PUT">
                    <doc>Updates existing customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates existing customer</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/addresses">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all addresses for source customer</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>Add new address to customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Add new address to customer</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/addresses/{contactId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="contactId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes customer address</doc>
                    <request/>
                    <response status="204"/>
                </method>
                <method name="PUT">
                    <doc>Updates customer address</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates customer address</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/anonymous">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="PUT">
                    <doc>Update anonymous status for customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Update anonymous status for customer</doc>
                        </representation>
                    </request>
                    <response status="204"/>
                </method>
            </resource>
            <resource path="{customerNumber}/archived-customer-numbers">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets archived customer by customer number. There is recursive logic, it means that if A
                        customer merged into B, B customer merged into C, the result of operation will be: customer
                        numbers for A and B customers.
                    </doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/business-additional-names">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all business customer additional names for source customer</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>Add new customer additional name to business customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Add new customer additional name to business customer</doc>
                        </representation>
                    </request>
                   <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/business-additional-names/{additionalNameId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="additionalNameId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes business customer additional name</doc>
                    <request/>
                    <response status="204"/>
                </method>
                <method name="PUT">
                    <doc>Updates business customer additional name</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates business customer additional name</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/chats">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all chats for source customer</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>Add new chat to customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Add new chat to customer</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/chats/{contactId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="contactId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes customer chat</doc>
                    <request/>
                    <response status="204"/>
                </method>
               <method name="PUT">
                    <doc>Updates customer chat</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates customer chat</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/emails">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all emails for source customer</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>Add new email to customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Add new email to customer</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/emails/{contactId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="contactId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes customer email</doc>
                    <request/>
                    <response status="204"/>
                </method>
                <method name="PUT">
                    <doc>Updats customer email</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updats customer email</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/employments">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all employments for source customer</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>Add new employments to customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Add new employments to customer</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/employments/{employmentId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="employmentId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes customer employment</doc>
                    <request/>
                    <response status="204"/>
                </method>
                <method name="PUT">
                    <doc>Updates customer employment</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates customer employment</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/individual-additional-names">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all ind customer additional names for source customer</doc>
                    <request/>
                   <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>Add new customer additional name to ind customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Add new customer additional name to ind customer</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/individual-additional-names/{additionalNameId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="additionalNameId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes ind customer additional name</doc>
                    <request/>
                    <response status="204"/>
                </method>
                <method name="PUT">
                    <doc>Updates ind customer additional name</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates ind customer additional name</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/navigation-links">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all navigation links for source customer</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>Add new navigation link to customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Add new navigation link to customer</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/navigation-links/{navigationLinkId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="navigationLinkId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes navigation link</doc>
                    <request/>
                    <response status="204"/>
                </method>
            </resource>
            <resource path="{customerNumber}/phones">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all phones for source customer</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>Add new phone to customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Add new phone to customer</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
           </resource>
            <resource path="{customerNumber}/phones/{contactId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="contactId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes customer phone</doc>
                    <request/>
                    <response status="204"/>
                </method>
                <method name="PUT">
                    <doc>Updates customer phone</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates customer phone</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/providers">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all service providers for source customer</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>Add new service provider to customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Add new service provider to customer</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/providers/{id}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="id" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes provider</doc>
                    <request/>
                    <response status="204"/>
               </method>
                <method name="PUT">
                    <doc>Updates provider</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates provider</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/relationships">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all generic relationships for source customer</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>Add new generic relationship to customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Add new generic relationship to customer</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/relationships/{relationshipId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="relationshipId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes customer generic relationship</doc>
                    <request/>
                    <response status="204"/>
                </method>
                <method name="PUT">
                    <doc>Updats customer generic relationship</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updats customer generic relationship</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/social-nets">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all social nets for source customer</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>Add new socialNet to customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Add new socialNet to customer</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/social-nets/{contactId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="contactId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes customer social net</doc>
                    <request/>
                    <response status="204"/>
                </method>
                <method name="PUT">
                    <doc>Updates customer social net</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates customer social net</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/web-addresses">
                <param name="customerNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all we addresses for source customer</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="POST">
                    <doc>Add new webAddress to customer</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Add new webAddress to customer</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{customerNumber}/web-addresses/{contactId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="contactId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes customer web address</doc>
                    <request/>
                    <response status="204"/>
                </method>
                <method name="PUT">
                    <doc>Updates customer web address</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates customer web address</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/accounts/">
            <doc>Customer Accounts management service</doc>
            <method name="GET">
                <doc>Gets list of customers. Supports multiple search parameters</doc>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="{accountNumber}">
                <param name="accountNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets account by account number</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{accountNumber}/customers">
                <param name="accountNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets list of customers by account number</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/campaigns/">
            <doc>Campaign management service</doc>
            <method name="GET">
                <doc>Gets list of campaigns. Suppoers multiple search parameters</doc>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <method name="POST">
                <doc>Creates new campaign</doc>
                <request>
                    <representation mediaType="application/json">
                        <doc>Creates new campaign</doc>
                    </representation>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="{campaignId}">
                <param name="campaignId" style="template" type="xs:long"/>
                <method name="GET">
                    <doc>Gets campaign by campaign id</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="PUT">
                    <doc>Updates existing campaign</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates existing campaign</doc>
                        </representation>
                    </request>
                    <response status="204"/>
                </method>
            </resource>
            <resource path="{campaignId}/associated-customers">
                <param name="campaignId" style="template" type="xs:long"/>
                <method name="GET">
                    <doc>Gets list of applicable customers for campaign</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{campaignId}/performance-summary">
                <param name="campaignId" style="template" type="xs:long"/>
                <method name="GET">
                    <doc>Gets campaign performance summary</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/customers/{customerNumber}/communications/">
            <doc>Customer communications management service</doc>
            <param name="customerNumber" style="template" type="xs:string"/>
            <method name="GET">
                <doc>Returns customer communications</doc>
                <request/>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <method name="POST">
                <doc>Creates communication</doc>
                <request>
                    <representation mediaType="application/json">
                        <doc>Creates communication</doc>
                    </representation>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="{communicationId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="communicationId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes communication activity</doc>
                    <request/>
                    <response status="204"/>
                </method>
                <method name="GET">
                    <doc>Get communication details</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="PUT">
                    <doc>Updates communication</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates communication</doc>
                        </representation>
                    </request>
                    <response status="204"/>
                </method>
            </resource>
            <resource path="{communicationId}/attachments">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="communicationId" style="template" type="xs:long"/>
                <method name="POST">
                    <doc>Uploads attachment for communication</doc>
                    <request>
                        <representation mediaType="multipart/form-data">
                            <doc>Uploads attachment for communication</doc>
                        </representation>
                        <param name="comment" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{communicationId}/threads">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="communicationId" style="template" type="xs:long"/>
                <method name="POST">
                    <doc>Creates new thread from communication activity</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Creates new thread from communication activity</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{communicationId}/threads/{threadId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="communicationId" style="template" type="xs:long"/>
                <param name="threadId" style="template" type="xs:long"/>
                <method name="DELETE">
                    <doc>Removes communication thread</doc>
                    <request/>
                    <response status="204"/>
                </method>
                <method name="GET">
                    <doc>Get communication thread details</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="PUT">
                    <doc>Updates communication thread</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates communication thread</doc>
                        </representation>
                    </request>
                    <response status="204"/>
                </method>
            </resource>
            <resource path="{communicationId}/threads/{threadId}/attachments">
                <param name="threadId" style="template" default="0" type="xs:long"/>
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="communicationId" style="template" type="xs:long"/>
                <method name="POST">
                    <doc>Uploads attachment for communication thread</doc>
                    <request>
                        <representation mediaType="multipart/form-data">
                            <doc>Uploads attachment for communication thread</doc>
                        </representation>
                        <param name="comment" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/customers/{customerNumber}/opportunities/">
            <doc>Opportunity management service</doc>
            <param name="customerNumber" style="template" type="xs:string"/>
            <method name="GET">
                <doc>Get list of all opportunities for customer</doc>
                <request/>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <method name="POST">
                <doc>Create new opportunity for customer</doc>
                <request>
                    <representation mediaType="application/json">
                        <doc>Create new opportunity for customer</doc>
                    </representation>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="{opportunityId}">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="opportunityId" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Get opportunity by id</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="PUT">
                    <doc>Update opportunity</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Update opportunity</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{opportunityId}/close">
                <param name="customerNumber" style="template" type="xs:string"/>
                <param name="opportunityId" style="template" type="xs:string"/>
                <method name="POST">
                    <doc>Close opportunity</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Close opportunity</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/opportunities/">
            <doc>General service for opportunities</doc>
            <method name="GET">
                <doc>Get list of all opportunities</doc>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/group-sponsors/{sponsorNumber}">
            <doc>Participants management service</doc>
            <resource path="/employment-participants">
                <param name="sponsorNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets employment participants for source group sponsor</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/employment-participants/{participantNumber}">
                <param name="sponsorNumber" style="template" type="xs:string"/>
                <param name="participantNumber" style="template" type="xs:string"/>
                <method name="DELETE">
                    <doc>Disassociates employment participant from source group sponsor</doc>
                    <request/>
                    <response status="204"/>
                </method>
            </resource>
            <resource path="/membership-participants">
                <param name="sponsorNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all membership participants for source group sponsor</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/membership-participants/{participantNumber}">
                <param name="sponsorNumber" style="template" type="xs:string"/>
                <param name="participantNumber" style="template" type="xs:string"/>
                <method name="DELETE">
                    <doc>Disassociates membership participant from source group sponsor</doc>
                    <request/>
                    <response status="204"/>
                </method>
            </resource>
            <resource path="/participants">
                <param name="sponsorNumber" style="template" type="xs:string"/>
                <method name="POST">
                    <doc>Associates existing individual customer to group sponsor</doc>
                    <request>
                        <representation mediaType="application/json">
                           <doc>Associates existing individual customer to group sponsor</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/participants/{participantNumber}">
                <param name="sponsorNumber" style="template" type="xs:string"/>
                <param name="participantNumber" style="template" type="xs:string"/>
                <method name="PUT">
                    <doc>Updates participation details</doc>
                    <request>
                        <representation mediaType="application/json">
                            <doc>Updates participation details</doc>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/student-participants">
                <param name="sponsorNumber" style="template" type="xs:string"/>
                <method name="GET">
                    <doc>Gets all student participants for source group sponsor</doc>
                    <request/>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/student-participants/{participantNumber}">
                <param name="sponsorNumber" style="template" type="xs:string"/>
                <param name="participantNumber" style="template" type="xs:string"/>
                <method name="DELETE">
                    <doc>Disassociates student participant from source group sponsor</doc>
                    <request/>
                    <response status="204"/>
                </method>
            </resource>
        </resource>
        <resource path="/providers/">
            <doc>Customer management service</doc>
            <resource path="latest">
                <method name="GET">
                    <doc>Gets all current providers</doc>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/swagger.json">
            <method name="GET">
                <request/>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
    </resources>
</application>